body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 1fr;
    width: 100dvw;
    height: 100dvh;
}

#grid #header {
    display: flex;
    background-color: aquamarine;
}

#grid #content {
    display: flex;
    background-color: pink;
}