<div class="page" id="about">
    <div class="about-grid">
        <!-- Replace with: <img src="portrait.jpg" alt="Stuart Inman" style="width:100%;"> -->
        <img src="/img/headshot.jpg" alt="Stuart Inman" style="width:100%;">
        <div class="about-body">
            <h2>About</h2>
            <p>
                My visual work as a whole is concerned with a play between the real and the imaginary and
                what is revealed in terms of thought, desire and fear, of what is stubbornly hidden within the
                obvious. It has its lyrical moments as well as more prosaic encounters with both inner and
                outer worlds.
            </p>
            <p>
                Both my painting and my photography are influenced by surrealism, not necessarily by the
                superficial stylistic aspects of various surrealist artists, but my own encounter with surrealism
                as a living movement, by its ideas and principles, as something much more than a mere
                ‘school of painting’ and rather as a way of aprehending the world.
            </p>
            <p>
                I stopped painting in early 1992 and didn’t paint again until late in 2020. Whatever prevented
                me from applying paint to canvas instead redirected me towards a kind of semi-automatic
                drawing, always on large sheets of paper (I found myself unable to cope with small sheets,
                sketchbooks etc!) and this continued into the early years of this century.
            </p>
            <p>
                When I started again, having done very little drawing for some years, I found everything had
                changed and it was as if I had to start from scratch, learning how to paint things from life as
                much as from imagination, something generally much more deliberate at first. It reawakened
                my old love of life-drawing which fed into my other projects until some kind of new approach
                emerged.
            </p>
            <p>
                Rather that trying to manufacture a ‘style’, I consider my painting as consisting of a number
                of interlinking projects, each of which has particular technical demands and different media.
                For instance.
            </p>
            <p>
                <b>MEMORY PAINTINGS</b>: these are, in some ways quite straightforward, in that they are oil on
                canvas. Their origin is actually old paintings that are long lost, so I have tried to recreate
                them. In doing so, they change, just as our memories change in the act of remembering. So
                this becomes a way of reinventing and exploring.
            </p>
            <p>
                <b>THE PLAYGROUND</b>: these paintings emerged in part from the memory paintings, the
                memory of walking around deserted paygrounds during the Covid lockdown. The slides,
                swings etc. seemed to express a strange melancholy that reminded me in part of De
                Chirico’s metaphysical landscapes, in part Toyen’s drawing cycles of the late 30s and 40s,
                also of pictures of Chernobyl, deserted by human, slowly decaying while inhabited by mutant
                wolves, and lastly, the utter devastation of Gaza.
            </p>
            <p>
                <b>GROUNDSCAPES</b>: these are typically based on close-ups of the ground around me, often
                using photographs as a point of origin (but never merely ‘painting from photographs’) as well
                as using chance techniques, such as pouring and flicking paint. The idea is to discover the
                hidden world at our feet, simultaneously real and imagined, the tension between the two is
                extremely variable, as is the degree of figuration and abstraction.
            </p>
            <p>
                <b>IMPERFECT ALCHEMY</b>: this takes up one of my old themes, where alchemical emblems
                are the inspiration for an exploration of themes of imagination, the past, lost figurations,
                automatisms and, well, alchemy.
            </p>
            <p>
                <b>THE WATERS OF THE MOON</b>: reflects my long-standing interest in the curious folk ritual of
                the Toad-Bone. Some members of the Society of Horsemen would go out at midnight and
                float the bones of a toad upon a stream. One bone is supposed to float against the current,
                this bone was supposed to give the horseman power over horses – and women!
            </p>
            <p>
                <b>PHOTOGRAPHY</b>: the bulk of my photographic work falls more or less within the ‘realist’
                tendency in surrealist photography, quite straightforwardly shot in the streets, usually with as
                little cropping and editing as possible, to give a ‘straight’ image of the inner model within the
                outer image. Many of these work with the principle of pareidolia, where one image is seen
                within another. Although this has a precedent with the work of, for instance, Dali, it belongs
                more directly within the Czech tradition of Emila Medková, Miroslav Hák, Vilém Reichmann
                and Alois Nožička among others.
            </p>
            <p>
                The process is mostly a kind of ‘hunting’ – stalking the images that reside just beneath the
                surface of our lives, often within damaged and ruined surfaces where signs lose their
                intended meaning and sometime gain new, ambiguous ones.
            </p>
            <p>
                I’ll occasionally do something quite different, such as the Bawdsville and Raw Womb shoots
                for Eljai Morais. They are fun and stretch my technical capabilities as well as my imagination.
                I can often also make imperfect shots work better than the more competent ones, although
                admittedly there’s always plenty of wasted shots! I rarely use lights or flash in these works,
                preferring available light and fast lenses.
            </p>
            <p>
                I use a number of differnet cameras, I especially like using medium-format, but 35mm, both
                SLRs and rangefinders, as well as digital cameras.
            </p>
            <p>
                <b>WRITINGS</b>: This website holds a number of essays written over the years, including academic papers,
                surrealist texts, and poems. A collection of my poems is due in July 2026.
            </p>
            <a class="cv-link" href="cv.pdf" target="_blank">Download CV / Résumé ↗</a>
        </div>
    </div>
</div>