<div class="page" id="about">
    <div class="about-grid">
    <!-- Replace with: <img src="portrait.jpg" alt="Stuart Inman" style="width:100%;"> -->
    <div class="about-portrait">Portrait photograph</div>
        <div class="about-body">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <p>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodi consequatur?
            </p>
            <a class="cv-link" href="cv.pdf" target="_blank">Download CV / Résumé ↗</a>
        </div>
    </div>
</div>