<div class="page" id="blog">
    <div class="page-header">
        <h1>Blog</h1>
        <span class="sub">Notes · Process · Writing</span>
    </div>
    <ul class="blog-list">
        <li class="blog-item">
            <div class="blog-date">March<br>2026</div>
            <div>
                <div class="blog-title">Post title goes here</div>
                <p class="blog-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </p>
                <a class="blog-read" href="#">Read more →</a>
            </div>
        </li>
        <li class="blog-item">
            <div class="blog-date">Jan<br>2026</div>
            <div>
                <div class="blog-title">Another post title</div>
                <p class="blog-excerpt">
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                </p>
                <a class="blog-read" href="#">Read more →</a>
            </div>
        </li>
        <li class="blog-item">
            <div class="blog-date">Nov<br>2025</div>
            <div>
                <div class="blog-title">A third post</div>
                <p class="blog-excerpt">
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <a class="blog-read" href="#">Read more →</a>
            </div>
        </li>
    </ul>
</div>