<div class="page" id="writings">
    <div class="page-header">
        <h1>Writings</h1>
        <span class="sub">Notes · Process · Writing</span>
    </div>
    <ul class="writings-list">
        <li class="writings-item">
            <div class="writings-date">March<br>2026</div>
            <div>
                <div class="writings-title">Post title goes here</div>
                <p class="writings-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                </p>
                <a class="writings-read" href="#">Read more →</a>
            </div>
        </li>
        <li class="writings-item">
            <div class="writings-date">Jan<br>2026</div>
            <div>
                <div class="writings-title">Another post title</div>
                <p class="writings-excerpt">
                    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                </p>
                <a class="writings-read" href="#">Read more →</a>
            </div>
        </li>
        <li class="writings-item">
            <div class="writings-date">Nov<br>2025</div>
            <div>
                <div class="writings-title">A third post</div>
                <p class="writings-excerpt">
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
                <a class="writings-read" href="#">Read more →</a>
            </div>
        </li>
    </ul>
</div>